<header>
  <div class="header-part-1" id="scrollTo-0">
    <div class="img-con">
      <a href="#" [routerLink]="'/'">
        <img
          [src]="'HEADER.LOGO_URL' | translate"
          [alt]="'HEADER.LOGO_ALT_TEXT'"
        />
      </a>
    </div>
    <div class="title-container">
      <h1>{{ "HEADER.TITLE" | translate }}</h1>
      <small>{{ "HEADER.SUB_TITLE" | translate }}</small>
    </div>
  </div>
  <div class="header-part-2">
    <nav>
      <span (click)="toggleMenu()" class="menu"
        ><img
          src="assets/images/icons/list.svg"
          class="menu-icon"
          alt="menu"
        />Menü</span
      >
      <ul
        [ngStyle]="{
          height: screenWidth < 601 ? menuHeight : 'max-content'
        }"
      >
        <li *ngFor="let item of menuItems">
          <a [routerLink]="item.link">{{ item.label | translate }}</a>
        </li>
        <li>
          <a href="https://www.emotion-24.de/datenschutz/" target="_blank">
            {{ "NAVIGATION.DATA_PROTECTION" | translate }}
          </a>
        </li>
      </ul>
    </nav>
    <address style="margin: 0">
      <a
        href="#"
        title="Telefonnummer"
        class="header-address-icon icon-phone-cell"
      ></a>
      <a
        href="mailto:info@emotion-24.de"
        class="header-address-icon icon-email"
        title="E-Mail"
      ></a>
      <a
        href="#"
        [routerLink]="'/account'"
        title="Einloggen/Account"
        class="header-address-icon icon-person"
      ></a>
    </address>
  </div>
</header>
