<main>
  <h1 class="title">Dein geplantes Möbel</h1>
  <div class="complate-back-con">
    <button
      class="to-left_steps previous_btn_step"
      [routerLink]="['/configurator']"
      style="position: relative; top: unset"
    >
      <span><img src="assets/images/icons/left-arrow.svg" alt="Zurück" /></span
      ><b>Zurück</b>
    </button>
  </div>
  <section class="complete-config-container">
    <form [formGroup]="orderFrm" (ngSubmit)="frmOrderSubmit()">
      <ul>
        <li>
          Breite:
          <a [routerLink]="['/configurator']"
            ><b>{{ order.width }}</b></a
          >
        </li>
        <li>
          Tiefe:
          <a [routerLink]="['/configurator']"
            ><b>{{ order.depth }}</b></a
          >
        </li>
        <li>
          Höhe:
          <a [routerLink]="['/configurator']"
            ><b>{{ order.height }}</b></a
          >
        </li>
        <li>
          Anzahl Waschbecken:
          <a [routerLink]="['/configurator']"><b></b></a>
        </li>
        <li>
          Waschbeckenart:
          <a [routerLink]="['/configurator']"><b></b></a>
          <ul style="margin: 0; margin-left: 15px">
            <li
              *ngIf="
                order.sink_type ===
                'Definieren Sie die Maße Ihres Waschbeckens selbst.'
              "
            >
              Breite:
              <a [routerLink]="['/configurator']"
                ><b>{{ order.sink_dimensions_width }}</b></a
              >
            </li>
            <li
              *ngIf="
                order.sink_type ===
                'Definieren Sie die Maße Ihres Waschbeckens selbst.'
              "
            >
              Randhöhe:
              <a [routerLink]="['/configurator']"
                ><b>{{ order.sink_dimensions_height }}</b></a
              >
            </li>
          </ul>
        </li>
        <li>
          Waschbecken Modell:
          <a [routerLink]="['/configurator']"
            ><b>{{ order.sink_model }}</b></a
          >
        </li>
        <li>
          Farbe außen:
          <a [routerLink]="['/configurator']"
            ><b>{{ order.color_consists }}</b></a
          >
        </li>
        <li>
          Farbe front:
          <a [routerLink]="['/configurator']"
            ><b>{{ order.color_front }}</b></a
          >
        </li>
        <li>
          Farbe Deckplatte:
          <a [routerLink]="['/configurator']"
            ><b>{{ order.color_cover_plate }}</b></a
          >
        </li>
      </ul>
      <div *ngIf="!isLoggedIn">
        <div
          class="orange-line-part"
          style="width: 100%; margin-bottom: 15px"
        ></div>
        <p style="text-align: center">
          Du kannst ,
          <a [routerLink]="['/account']" style="color: #f06a15"
            >ein Konto / Login erstellen</a
          >
          oder Deine Daten eingeben:
        </p>
      </div>
      <div
        class="orange-line-part"
        style="width: 100%; margin-bottom: 15px"
      ></div>
      <div class="complete-con">
        <input
          type="text"
          formControlName="first_name"
          name="first_name"
          class="input-field"
          required
          placeholder="Vorname *"
          [ngClass]="{
            'alert-input':
              this.orderFrm.controls.first_name.invalid &&
              (this.orderFrm.controls.first_name.dirty ||
                this.orderFrm.controls.first_name.touched)
          }"
        />
        <input
          type="text"
          formControlName="last_name"
          name="last_name"
          class="input-field"
          required
          placeholder="Nachname *"
          [ngClass]="{
            'alert-input':
              this.orderFrm.controls.last_name.invalid &&
              (this.orderFrm.controls.last_name.dirty ||
                this.orderFrm.controls.last_name.touched)
          }"
        />
        <input
          type="email"
          formControlName="email_address"
          name="email_address"
          class="input-field"
          required
          placeholder="E-Mail Adresse *"
          pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
          [ngClass]="{
            'alert-input':
              this.orderFrm.controls.email_address.invalid &&
              (this.orderFrm.controls.email_address.dirty ||
                this.orderFrm.controls.email_address.touched)
          }"
        />
        <input
          type="tel"
          name="phone_number"
          formControlName="phone_number"
          class="input-field"
          required
          placeholder="Telefonnummer *"
          [ngClass]="{
            'alert-input':
              this.orderFrm.controls.phone_number.invalid &&
              (this.orderFrm.controls.phone_number.dirty ||
                this.orderFrm.controls.phone_number.touched)
          }"
        />
        <input
          type="text"
          name="address"
          formControlName="address"
          class="input-field"
          required
          placeholder="Straße, PLZ, Ort *"
          [ngClass]="{
            'alert-input':
              this.orderFrm.controls.address.invalid &&
              (this.orderFrm.controls.address.dirty ||
                this.orderFrm.controls.address.touched)
          }"
        />
        <small style="margin: 10px 0"
          >Die mit einem * markierten Felder sind Pflichtfelder.</small
        >
        <button
          type="submit"
          name="orderSubBtn"
          [class.disabled_btn]="!orderFrm.valid"
          [disabled]="!orderFrm.valid"
          class="plainBtn"
        >
          Absenden
        </button>
      </div>
      <p id="msgEle" class="msgEleP"></p>
    </form>
  </section>
</main>
