<main>
  <h1 class="title">AGB</h1>
  <section class="info-container">
    <h2 style="margin-bottom: 15px">
      I. Allgemeine Geschäftsbedingungen (AGB)
    </h2>
    <article>
      <h4>§ 1 Geltungsbereich</h4>
      <p>
        (1) Diese Allgemeinen Verkaufsbedingungen (im Folgenden: AGB) gelten für
        alle über unseren Online-Shop unter der Domain emotion-24.de
        geschlossenen Verträge zwischen uns, der<br />
        Emotion Warenhandels GmbH, eingetragen beim Amtsgericht Bremen HRB
        24827HB<br />
        vertreten durch die Geschäftsführer: Dominik Entelmann, Bijan Salehi<br />
        USt.-ID: DE 260254947<br />
        Telefonnummer: 0421 - 59 49 52 16<br />
        Faxnummer: 0421 - 24 69 51 20<br />
        E-Mail:
        <a
          title="Email-Adresse Emotion Warenhandels GmbH"
          href="mailto:info@emotion-24.de"
          target="_blank"
          >info@emotion-24.de</a
        ><br />
        und Ihnen als unseren Kunden. Die AGB gelten unabhängig davon, ob Sie
        Verbraucher, Unternehmer oder Kaufmann sind.<br />
        <br />
        (2) Gegenüber Unternehmern gelten diese AGB auch für künftige
        Geschäftsbeziehungen, ohne dass wir nochmals auf sie hinweisen müssten.
        Verwendet der Unternehmer entgegenstehende oder ergänzende Allgemeine
        Geschäftsbedingungen, wird deren Geltung hiermit widersprochen; sie
        werden nur dann Vertragsbestandteil, wenn wir dem ausdrücklich
        zugestimmt haben.<br />
        <br />
        (3) Maßgebend ist die jeweils bei Abschluss des Vertrags gültige Fassung
        der AGB.
      </p>
    </article>
    <article>
      <h4>§ 2 Vertragsschluss</h4>
      <p>
        (1) Wenn Sie Verbraucher sind (also eine natürliche Person, die die
        Bestellung zu einem Zweck abgibt, der weder Ihrer gewerblichen oder
        selbständigen<br />
        beruflichen Tätigkeit zugerechnet werden kann), steht Ihnen nach Maßgabe
        der gesetzlichen Bestimmungen ein Widerrufsrecht zu.<br />
        und Ihnen als unseren Kunden. Die AGB gelten unabhängig davon, ob Sie
        Verbraucher, Unternehmer oder Kaufmann sind.<br />
        <br />
        (2) Im Übrigen gelten für das Widerrufsrecht die Regelungen, die im
        Einzelnen wiedergegeben sind in der folgenden
      </p>
    </article>
    <article>
      <h4>- Widerrufsbelehrung -</h4>
      <p>
        <b>Widerrufsrecht</b><br />
        Sie haben das Recht, binnen 1 Monat ohne Angabe von Gründen diesen
        Vertrag zu widerrufen.<br />
        Die Widerrufsfrist beträgt:<br />
        - bei Lieferung der Ware/n in einer Sendung/Lieferung 1 Monat ab dem
        Tag, an dem Sie oder ein von Ihnen benannter Dritter, der nicht der
        Beförderer ist, die Waren in Besitz genommen haben bzw. hat<br />
        - bei Teillieferung (Sendung/Lieferung mehrerer Waren in mehr als einer
        Sendung/Lieferung) 1 Monat ab dem Tag, an dem Sie oder ein von Ihnen
        benannter Dritter, der nicht der Beförderer ist, die letzte Ware in
        Besitz genommen haben bzw. hat.<br />
        - bei Teillieferung (Lieferung einer Ware in mehr als einem Teil oder
        Stück) 1 Monat ab dem Tag, an dem Sie oder ein von Ihnen benannter
        Dritter, der nicht der Beförderer ist, die letzte Teilsendung oder das
        letzte Stück in Besitz genommen haben bzw. hat.<br />
        <br />
        Um Ihr Widerrufsrecht auszuüben, müssen Sie uns Emotion Warenhandels
        GmbH, Bordeaux Str. 3, 28309 Bremen; Telefon: 0421 2469510; Fax: 0421
        24695120; E-Mail: info@emotion-24.de, mittels einer eindeutigen
        Erklärung (z.B. ein mit der Post versandter Brief, Telefax oder E-Mail)
        über Ihren Entschluss, diesen Vertrag zu widerrufen, informieren. Sie
        können dafür das – der unter dem Reiter „<a
          title="Widerrufsrecht Seite mit Musterformular"
          href="/widerrufsrecht/"
          >Widerrufsrecht</a
        >“ gesondert klickbaren – Widerrufsbelehrung beigefügte
        Muster-Widerrufsformular verwenden, das jedoch nicht vorgeschrieben
        ist.<br />
        Zur Wahrung der Widerrufsfrist reicht es aus, dass Sie die Mitteilung
        über die Ausübung des Widerrufsrechts vor Ablauf der Widerrufsfrist
        absenden.<br />
        <br />
        <b>Folgen des Widerrufs</b><br /><br />
        Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen, die
        wir von Ihnen erhalten haben, einschließlich der Lieferkosten (mit
        Ausnahme der zusätzlichen Kosten, die sich daraus ergeben, dass Sie eine
        andere Art der Lieferung als die von uns angebotene, günstigste
        Standardlieferung gewählt haben), unverzüglich und spätestens binnen 14
        Tagen ab dem Tag zurückzuzahlen, an dem die Mitteilung über Ihren
        Widerruf dieses Vertrags bei uns eingegangen ist. Für diese Rückzahlung
        verwenden wir dasselbe Zahlungsmittel, das Sie bei der ursprünglichen
        Transaktion eingesetzt haben, es sei denn, mit Ihnen wurde ausdrücklich
        etwas anderes vereinbart; in keinem Fall werden Ihnen wegen dieser
        Rückzahlung Entgelte berechnet. Wir können die Rückzahlung verweigern,
        bis wir die Waren wieder zurückerhalten haben oder bis Sie den Nachweis
        erbracht haben, dass Sie die Waren zurückgesandt haben, je nachdem,
        welches der frühere Zeitpunkt ist.<br />
        Sie haben die Waren unverzüglich und in jedem Fall spätestens binnen 14
        Tagen ab dem Tag, an dem Sie uns über den Widerruf dieses Vertrages
        unterrichten, an uns zurückzusenden oder zu übergeben. Die Frist ist
        gewahrt, wenn Sie die Waren vor Ablauf der Frist von 14 Tagen absenden.
        Wir tragen die unmittelbaren Kosten der Rücksendung der Waren. Sie
        müssen für einen etwaigen Wertverlust der Waren nur aufkommen, wenn
        dieser Wertverlust auf einen zur Prüfung der Beschaffenheit,
        Eigenschaften und Funktionsweise der Waren nicht notwendigen Umgang mit
        ihnen zurückzuführen ist.
      </p>
    </article>
    <article>
      <h4>- Ende der Widerrufsbelehrung-</h4>
      <p>
        (4) Das Widerrufsrecht besteht nicht bei Fernabsatzverträgen<br />
        (a) zur Lieferung von Waren, die nach Kundenspezifikation angefertigt
        wurden oder die eindeutig auf die persönlichen Bedürfnisse zugeschnitten
        sind oder die aufgrund ihrer Beschaffenheit nicht für eine Rücksendung
        geeignet sind oder schnell verderben können oder deren Verfallsdatum
        überschritten würde, (b) zur Lieferung von Audio- oder
        Videoaufzeichnungen oder von Software, sofern Sie die gelieferten
        Datenträger entsiegelt haben.<br />
        <br />
        (5) Die Ware ist im Sinne des § 3 Abs. 4 Lit. (a) nach
        Kundenspezifikation angefertigt oder eindeutig auf die persönlichen
        Bedürfnisse zugeschnitten, wenn sie durch Ihre Wünsche derart
        individualisiert ist, dass sie für uns im Falle ihrer Rücknahme
        wirtschaftlich wertlos ist, weil wir sie nur noch unter erheblichen
        Schwierigkeiten oder Preisnachlässen anderweitig verkaufen können. Bei
        Produkten, die nach Ihren Wünschen individualisiert werden ist dies
        insbesondere dann der Fall, wenn sie sich bei unterstellter Rücknahme
        nicht einfach in ihre Einzelteile zerlegen und nach anderer
        Kundenspezifikation wieder zusammensetzen lassen.<br />
        <br />
        <b>§ 4 Preise und Lieferbedingungen</b><br /><br />
        (1) Sämtliche Preisangaben in unserem Online-Shop sind Bruttopreise
        inklusive der gesetzlichen Umsatzsteuer und verstehen sich zuzüglich
        ggfs. anfallender Versandkosten<br />
        (2) Wir sind zu Teillieferungen berechtigt, soweit dies für Sie zumutbar
        ist.<br />
        (3) Wir liefern innerhalb Deutschlands – ausgenommen sind die Inseln für
        die Versandkosten entstehen – versandkostenfrei. Um den Versand
        gewährleisten zu können, muss sichergestellt sein, dass der Weg bis zur
        gewünschten Lieferadresse befahrbar ist. Die Lieferung ist stets frei
        Bordsteinkante.<br />
        (4) Sie haben nach vorheriger Absprache und innerhalb der Öffnungszeiten
        grundsätzlich die Möglichkeit der Abholung bei Emotion Warenhandels
        GmbH, Bordeaux Str. 3, 28309 Bremen, Deutschland (Öffnungszeiten: Mo-Fr
        09:00-18:00 sowie Sa 10:00-14:00).<br />
        (5) Die Lieferzeit beträgt 2-5 Werktage bei Paket- und 4 - 7 Werktage
        bei Speditionslieferungen.<br />
        (6) Die Frist für die Lieferung beginnt bei Zahlung per Vorkasse am Tag
        nach Erteilung des Zahlungsauftrags an das überweisende Kreditinstitut,
        bei anderen Zahlungsarten am Tag nach Vertragsschluss zu laufen und
        endet mit dem Ablauf des letzten Tages der Frist. Fällt der letzte Tag
        der Frist auf einen Samstag, Sonntag oder einen am Lieferort staatlich
        anerkannten allgemeinen Feiertag, so tritt an die Stelle eines solchen
        Tages der nächste Werktag.<br />
        (7) Wir liefern nicht an Packstationen.<br />
        <br />
        <b>§ 5 Zahlungsbedingungen</b><br /><br />
        (1) Der Kaufpreis und die Versandkosten sind mit Vertragsabschluss
        fällig.<br />
        (2) Sie können den Kaufpreis und die ggfs. anfallenden Versandkosten
        nach Ihrer Wahl per einer der nachfolgend aufgelisteten
        Bezahlungsmethoden bezahlen. Wir behalten uns vor, einzelne
        Zahlungsarten auszuschließen.<br />
        In unserem Shop stehen Ihnen grundsätzlich die folgenden Zahlungsarten
        zur Verfügung:<br /><br />
        <b>Vorkasse</b><br /><br />
        Bei Auswahl der Zahlungsart Vorkasse nennen wir Ihnen unsere
        Bankverbindung in separater E-Mail und liefern die Ware nach
        Zahlungseingang.<br />
        <br />
        <b>Nachnahme</b><br /><br />
        Sie zahlen den Kaufpreis direkt beim Zusteller. Es fallen zzgl. 24,90
        Euro als Kosten an.<br /><br />

        <b>Kreditkarte</b>
        Mit Abgabe der Bestellung übermitteln Sie uns gleichzeitig Ihre
        Kreditkartendaten.<br />
        Nach Ihrer Legitimation als rechtmäßiger Karteninhaber fordern wir
        unmittelbar nach der Bestellung Ihr Kreditkartenunternehmen zur
        Einleitung der Zahlungstransaktion auf. Die Zahlungstransaktion wird
        durch das Kreditkartenunternehmen automatisch durchgeführt und Ihre
        Karte belastet.<br />
        <br />
        <b>PayPal, PayPal Express</b><br />
        <br />
        Im Bestellprozess werden Sie auf die Webseite des Online-Anbieters
        PayPal weitergeleitet. Um den Rechnungsbetrag über PayPal bezahlen zu
        können, müssen Sie dort registriert sein bzw. sich erst registrieren,
        mit Ihren Zugangsdaten legitimieren und die Zahlungsanweisung an uns
        bestätigen. Nach Abgabe der Bestellung im Shop fordern wir PayPal zur
        Einleitung der Zahlungstransaktion auf.<br />
        Die Zahlungstransaktion wird durch PayPal unmittelbar danach automatisch
        durchgeführt. Weitere Hinweise erhalten Sie beim Bestellvorgang.<br />
        <br />
        <b>Amazon Pay</b><br />
        <br />
        Im Bestellprozess werden Sie auf die Webseite des Online-Anbieters
        Amazon noch vor Abschluss des Bestellvorganges in unserem Online-Shop
        weitergeleitet. Um über Amazon den Bestellprozess abwickeln und den
        Rechnungsbetrag bezahlen zu können, müssen Sie dort registriert sein
        bzw. sich erst registrieren und mit Ihren Zugangsdaten legitimieren.
        Dort können Sie die bei Amazon gespeicherte Lieferadresse und
        Zahlungsmethode wählen, die Verwendung Ihrer Daten durch Amazon und die
        Zahlungsanweisung an uns bestätigen. Anschließend werden Sie zu unserem
        Online-Shop zurückgeleitet, wo Sie den Bestellvorgang abschließen
        können.<br />
        Unmittelbar nach Versendung der Ware fordern wir Amazon zur Einleitung
        der Zahlungstransaktion auf. Die Zahlungstransaktion wird durch Amazon
        automatisch durchgeführt. Weitere Hinweise erhalten Sie beim
        Bestellvorgang.<br />
        <br />
        <b>Rechnung</b><br />
        <br />
        Sie zahlen den Rechnungsbetrag innerhalb von 14 Tagen nach Erhalt der
        Ware und der Rechnung per Überweisung auf unser Bankkonto. Wir behalten
        uns vor, den Kauf auf Rechnung nur nach einer erfolgreichen
        Bonitätsprüfung anzubieten.<br />
        <br />
        <b>Barzahlung bei Abholung</b><br />
        <br />
        Sie zahlen den Rechnungsbetrag bei der Abholung bar.<br />
        <br />
        <b>RatePay</b><br />
        <br />
        Wir bieten die RatePay-Zahlungsart Ratenkauf an. Bei Auswahl der
        Zahlungsart „Ratenkauf“ leisten Sie Teilzahlungen. Mit Hilfe des RatePAY
        Ratenrechners können Sie entweder Ihre Laufzeit oder Ihre Rate selbst
        bestimmen. Dazu werden Ihre Kontaktinformationen gemeinsam mit den für
        die Transaktionsabwicklung erforderlichen Informationen an unseren
        Partner die RatePAY GmbH übermittelt. Nähere Informationen zu der
        Übermittlung Ihrer personenbezogenen Daten an die RatePAY GmbH entnehmen
        Sie bitte unserer Datenschutzerklärung. Unser Partner prüft nach der
        Übermittlung der Daten die Bonität in Echtzeit und teilt Ihnen die
        Entscheidung bezüglich des Ratenzahlungsmodells mit. Sie haben die
        Möglichkeit, mittels Kontaktaufnahme an unseren Partner RatePAY GmbH
        Ihren Standpunkt darzulegen und die Entscheidung anzufechten.<br />

        Wir bieten auch die RatePAY-Zahlungsart Lastschrift an. Bei der Nutzung
        der RatePay-Zahlungsart treten wir unsere Zahlungsforderung an die
        RatePay GmbH ab. Ihre Zahlung wird durch unseren Partner abgewickelt.
        Unser Partner führt eine komplexe Risikoprüfung der
        Ausfallwahrscheinlichkeit auf Grundlage einer mathematisch-statistischen
        Auswertung einer Vielzahl von Daten durch. Die in die Berechnung
        einfließenden Datenpunkt sind u.a. der Preis der Ware oder
        Dienstleistung, Angaben zum Käufer, Warenkorbhöhe, technische Daten,
        historische Informationen über bereits erfolgte Bestellungen mit einer
        RatePAY-Zahlungsart.<br />
        <br />
        <b>§ 6 Aufrechnung und Zurückbehaltungsrecht</b><br />
        <br />
        (1) Sie sind nicht berechtigt, gegenüber unseren Forderungen
        aufzurechnen, es sei denn, Ihre Gegenansprüche sind rechtskräftig
        festgestellt oder unbestritten. Sie sind zur Aufrechnung gegenüber
        unseren Forderungen auch berechtigt, wenn Sie Mängelrügen oder
        Gegenansprüche aus demselben Kaufvertrag geltend machen.<br />

        (2) Als Käufer dürfen Sie ein Zurückbehaltungsrecht nur dann ausüben,
        wenn Ihr Gegenanspruch aus demselben Kaufvertrag herrührt.<br />
        <br />
        <b>§ 7 Eigentumsvorbehalt</b><br />
        <br />
        (1) Die Ware bleibt bis zur vollständigen Bezahlung unser Eigentum.<br />
        (2) Für Unternehmer gilt ergänzend: Wir behalten uns das Eigentum an der
        Ware bis zur vollständigen Begleichung aller Forderungen aus einer
        laufenden Geschäftsbeziehung vor. Sie dürfen die Vorbehaltsware im
        ordentlichen Geschäftsbetrieb weiterveräußern; sämtliche aus diesem
        Weiterverkauf entstehenden Forderungen treten Sie – unabhängig von einer
        Verbindung oder Vermischung der Vorbehaltsware mit einer neuen Sache –
        in Höhe des Rechnungsbetrages an uns im Voraus ab, und wir nehmen diese
        Abtretung an. Sie bleiben zur Einziehung der Forderungen ermächtigt, wir
        dürfen Forderungen jedoch auch selbst einziehen, soweit Sie Ihren
        Zahlungsverpflichtungen nicht nachkommen.<br />
        <br />
        <b>§ 8 Transportschäden</b><br />
        <br />
        (1) Für Verbraucher gilt:<br />
        Werden Waren mit offensichtlichen Transportschäden angeliefert, so
        reklamieren Sie solche Fehler bitte möglichst sofort beim Zusteller und
        nehmen Sie bitte unverzüglich Kontakt zu uns auf. Die Versäumung einer
        Reklamation oder Kontaktaufnahme hat für Ihre gesetzlichen Ansprüche und
        deren Durchsetzung, insbesondere Ihre Gewährleistungsrechte, keinerlei
        Konsequenzen. Sie helfen uns aber, unsere eigenen Ansprüche gegenüber
        dem Frachtführer bzw. der Transportversicherung geltend machen zu
        können.<br />
        (2) Für Unternehmer gilt:<br />
        Die Gefahr des zufälligen Untergangs und der zufälligen Verschlechterung
        geht auf Sie über, sobald wir die Sache dem Spediteur, dem Frachtführer
        oder der sonst zur Ausführung der Versendung bestimmten Person oder
        Anstalt ausgeliefert haben. Unter Kaufleuten gilt die in § 377 HGB
        geregelte Untersuchungs- und Rügepflicht. Unterlassen Sie die dort
        geregelte Anzeige, so gilt die Ware als genehmigt, es sei denn, dass es
        sich um einen Mangel handelt, der bei der Untersuchung nicht erkennbar
        war. Dies gilt nicht, falls wir einen Mangel arglistig verschwiegen
        haben.<br />
        <br />
        <b>§ 9 Gewährleistung und Garantien</b><br />
        <br />
        (1) Wir haften für Sach- oder Rechtsmängel gelieferter Artikel nach den
        geltenden gesetzlichen Vorschriften, insbesondere §§ 434 ff. BGB. Die
        Verjährungsfrist für gesetzliche Mängelansprüche beträgt zwei Jahre und
        beginnt mit der Ablieferung der Ware. Bei einem Geschäft zwischen
        Unternehmern beträgt die Verjährungsfrist ein Jahr.<br />
        (2) Die Gewährleistungsrechte des Bestellers, der Unternehmer ist,
        setzen voraus, dass dieser seinen Untersuchungs- und Rügepflichten nach
        § 377 HGB ordnungsgemäß nachgekommen ist. Bei Verträgen zwischen
        Unternehmern können wir, die Verkäuferin, als Nacherfüllung zwischen der
        Beseitigung des Mangels oder der Lieferung einer mangelfreien Sache
        wählen.<br />
        (3) Etwaige von uns gegebene Verkäufergarantien für bestimmte Artikel
        oder von den Herstellern bestimmter Artikel eingeräumte
        Herstellergarantien treten neben die Ansprüche wegen Sach- oder
        Rechtsmängeln im Sinne von Abs. 1. Einzelheiten des Umfangs solcher
        Garantien ergeben sich aus den Garantiebedingungen, die den Artikeln
        gegebenenfalls beiliegen.<br />
        <br />
        <b>§ 10 Haftung</b><br />
        <br />
        (1) Ihre Ansprüche auf Schadenersatz sind – soweit sich aus den
        nachstehenden Klauseln nichts anderes ergibt – ausgeschlossen.<br />
        (2) Wir haften in allen Fällen vertraglicher und außervertraglicher
        Haftung bei Vorsatz und grober Fahrlässigkeit nach Maßgabe der
        gesetzlichen Bestimmungen auf Schadensersatz oder Ersatz vergeblicher
        Aufwendungen. Diese Haftungsbeschränkung gilt auch für die Haftung, die
        auf einer Pflichtverletzung unserer gesetzlichen Vertreter oder
        Erfüllungsgehilfen beruht.<br />
        (3) In sonstigen Fällen haften wir – soweit in Abs. 3 nicht abweichend
        geregelt – nur bei Verletzung einer Vertragspflicht, deren Erfüllung die
        ordnungsgemäße Durchführung des Vertrags überhaupt erst ermöglicht und
        auf deren Einhaltung Sie als Kunde regelmäßig vertrauen dürfen (so
        genannte Kardinalpflicht), und zwar beschränkt auf den Ersatz des
        vorhersehbaren und typischen Schadens. In allen übrigen Fällen ist
        unsere Haftung vorbehaltlich der Regelung in Abs. 3 ausgeschlossen.<br />
        (4) Unsere Haftung für Schäden aus der Verletzung des Lebens, des
        Körpers oder der Gesundheit, nach dem Produkthaftungsgesetz und den
        geltenden Datenschutzvorschriften bleibt von den vorstehenden
        Haftungsbeschränkungen und Haftungsausschlüssen unberührt.<br />
        (5) Die sich aus Abs. 1 bis 3 ergebenden Haftungsbeschränkungen gelten
        nicht, soweit wir den Mangel arglistig verschwiegen oder eine Garantie
        für die Beschaffenheit der Sache übernommen haben. Das gleiche gilt,
        soweit wir mit Ihnen eine Vereinbarung über die Beschaffenheit der Sache
        getroffen haben.<br />
        <br />
        <b>§ 11 Schlussbestimmungen</b><br />
        <br />
        (1) Es gilt das Recht der Bundesrepublik Deutschland unter Ausschluss
        des UN-Kaufrechts. Die gesetzlichen Vorschriften zur Beschränkung der
        Rechtswahl und zur Anwendbarkeit zwingender Vorschriften insbes. des
        Staates, in dem der Kunde als Verbraucher seinen gewöhnlichen Aufenthalt
        hat, bleiben unberührt.<br />
        (2) Wenn Sie Kaufmann im Sinne des Handelsgesetzbuches, juristische
        Person des öffentlichen Rechts oder öffentlich-rechtliches
        Sondervermögen sind und Ihren Sitz zum Zeitpunkt der Bestellung in
        Deutschland haben, ist Erfüllungsort und ausschließlicher Gerichtsstand
        der Sitz des Verkäufers, Bremen. Im Übrigen gelten für die örtliche und
        die internationale Zuständigkeit die anwendbaren gesetzlichen
        Bestimmungen.<br />
        (3) Der Vertrag bleibt auch bei rechtlicher Unwirksamkeit einzelner
        Punkte in seinen übrigen Teilen verbindlich. Anstelle der unwirksamen
        Punkte treten, soweit vorhanden, die gesetzlichen Vorschriften. Das
        gleiche gilt, soweit die AGB eine nicht vorgesehene Lücke aufweisen.<br />
        <br />
        <b>II. Kundeninformation</b><br /><br />
        1. Hinweis auf die EU-Plattform zur Online-Streitbeilegung<br />
        Die Europäische Kommission stellt eine Plattform zur
        Online-Streitbeilegung (OS) bereit, die Sie hier finden
        https://ec.europa.eu/consumers/odr/. Verbraucher haben die Möglichkeit,
        diese Plattform für die Beilegung ihrer Streitigkeiten zu nutzen.Zur
        Beilegung von Streitigkeiten aus einem Vertragsverhältnis mit einem
        Verbraucher bzw. darüber, ob ein solches Vertragsverhältnis überhaupt
        besteht, sind wir zur Teilnahme an Streitbeilegungsverfahren vor einer
        Verbraucherschlichtungsstelle verpflichtet. Zuständig ist die Allgemeine
        Verbraucherschlichtungsstelle des Zentrums für Schlichtung e.V.,
        Straßburger Straße 8, 77694 Kehl am Rhein,
        www.verbraucher-schlichter.de. An einem Streitbeilegungsverfahren vor
        dieser Stelle werden wir teilnehmen.<br />
        2. Hinweis zur Entsorgung von Elektro- und Elektronikgeräten<br /><br />
        <b>Hinweise gemäß Elektrogesetz (ElektroG)</b>
        <br /><br />
        Alte Elektro und Elektronikgeräte dürfen zur Entsorgung nicht in den
        Hausmüll geworfen, sondern müssen getrennt von diesem entsorgt
        werden.<br />
        Durch eine Abgabe der Geräte an den zugelassenen Rücknahmestellen und
        bei den Kommunen ist eine fach- und sachgerechte Entsorgung
        sichergestellt.<br />
        Das folgende Symbol auf Elektrogeräten und/oder deren Verpackungen weist
        darauf hin, dass dieses Gerät nur separiert von anderen Abfall-Arten und
        nicht über den Hausmüll (graue oder gelbe Tonne, Papiermüll, Biotonne
        oder Glascontainer) entsorgt werden darf.<br />
        Ausgediente LED- und Energiespar- und Leuchtstofflampen gehören
        ebenfalls nicht in den Hausmüll, da sie elektronische Bauteile
        enthalten.<br />
        Durch die umweltgerechte Entsorgung wird gewährleistet, dass wertvolle
        Bestandteile der Lampen wie Glas und Metall nicht verloren gehen,
        sondern der Wiederverwertung zugeführt werden. Bei dem
        Altlampen-Recycling können auch die in geringen Mengen enthaltenen
        Schadstoffe fachgerecht entnommen werden.<br />
        Altlampen in haushaltsüblichen Mengen werden, neben den kommunalen
        Wertstoffhöfen, von Kleinmengensammelstellen entgegengenommen.<br />
        <br />
        <b>3. Hinweis zur Entsorgung von Batterien</b><br /><br />
        Da wir Batterien und Akkus bzw. solche Geräte verkaufen, die Batterien
        und Akkus enthalten, sind wir nach dem Batteriegesetz (BattG)
        verpflichtet, Sie auf folgendes hinzuweisen:<br />
        Batterien und Akkus dürfen nicht im Hausmüll entsorgt werden, sondern
        Sie sind zur Rückgabe gebrauchter Batterien und Akkus gesetzlich
        verpflichtet. Altbatterien können Schadstoffe enthalten, die bei nicht
        sachgemäßer Lagerung oder Entsorgung die Umwelt oder Ihre Gesundheit
        beeinträchtigen können. Batterien enthalten aber auch wichtige Rohstoffe
        wie z.B. Eisen, Zink und Mangan oder Nickel und werden wiederverwertet.
        Sie können die Batterien nach Gebrauch in unmittelbarer Nähe (z.B. im
        Handel oder in kommunalen Sammelstellen) unentgeltlich zurückgeben. Die
        durchgekreuzte Mülltonne bedeutet, dass Sie Batterien und Akkus nicht im
        Hausmüll entsorgen dürfen.<br />
      </p>
    </article>
  </section>
</main>
