.configurator-wrapper {
  height: 100%;
  display: flex;
}

.configurator-steps-container {
  width: 35%;
  background-color: #fff;
  border-left: 1px solid #ebebeb;
  overflow-y: auto;
  scroll-behavior: smooth;

  .configurator-group-wrapper {
    padding: 15px;
    &:nth-child(even) {
      background-color: #ebebeb;
    }
  }
}

.configurator-current-step-window {
  flex-grow: 1;
  background-color: #ccc;
  position: relative;
  display: flex;
  flex-direction: column;

  .configurator-preview {
    flex-grow: 1;
    position: relative;
  }
}
