<div class="configurator-wrapper">
  <div class="configurator-current-step-window">
    <app-configuration-breadcrumb></app-configuration-breadcrumb>

    <div class="configurator-preview" *ngIf="isCanvas === false">
      <app-configuration-preview></app-configuration-preview>
    </div>
    <div class="configurator-preview" *ngIf="isCanvas === true">
      <app-canvas-component></app-canvas-component>
    </div>
  </div>

  <div class="configurator-steps-container">
    <div
      class="configurator-group-wrapper"
      *ngFor="let group of configuratorForm"
    >
      <app-configuration-group [group]="group"></app-configuration-group>
    </div>

    <div class="bottom-section-btn" style="margin-bottom: 10px">
      <a routerLink="/complete-configuration" href="#">
        <b> FINISH KONFIGURIEREN</b>
        <span
          ><img src="assets/images/icons/chevron.svg" alt="right arrow"
        /></span>
      </a>
    </div>
  </div>
</div>
