<main>
  <h1 class="title">Kontakt</h1>
  <section class="info-container">
    <article>
      <p>
        Rufen Sie uns an: 0421 - 59 49 52 16<br />
        <br />
        Kommen Sie persönlich bei uns vorbei und lassen Sie sich in unseren
        Showroom beraten:<br />
        Emotion Warenhandels GmbH<br />
        Bordeaux Straße 3<br />
        D - 28309 Bremen<br />
        <br />
        Oder schreiben Sie uns eine Email (info@emotion-24.de) und verwenden Sie
        dafür gern folgendes Kontaktformular:
      </p>
    </article>
    <article>
      <form
        id="contact-form"
        [formGroup]="contactFrm"
        (ngSubmit)="contactFrmSubmit()"
      >
        <select name="gender" id="gender" class="select-field">
          <option *ngFor="let gender of genderList" [value]="gender.value">
            {{ gender.label }}
          </option>
        </select>
        <input
          type="text"
          name="first_name"
          formControlName="first_name"
          placeholder="Nachname *"
          required
          class="input-field"
          [ngClass]="{
            'alert-input':
              this.contactFrm.controls.first_name.invalid &&
              (this.contactFrm.controls.first_name.dirty ||
                this.contactFrm.controls.first_name.touched)
          }"
        />
        <input
          type="text"
          name="last_name"
          formControlName="last_name"
          placeholder="Vorname *"
          required
          class="input-field"
          [ngClass]="{
            'alert-input':
              this.contactFrm.controls.last_name.invalid &&
              (this.contactFrm.controls.last_name.dirty ||
                this.contactFrm.controls.last_name.touched)
          }"
        />
        <input
          type="email"
          name="email"
          formControlName="email"
          placeholder="eMail-Adresse *"
          class="input-field"
          required
          pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
          [ngClass]="{
            'alert-input':
              this.contactFrm.controls.email.invalid &&
              (this.contactFrm.controls.email.dirty ||
                this.contactFrm.controls.email.touched)
          }"
        />
        <input
          type="text"
          name="phone"
          formControlName="phone"
          placeholder="Telefon"
          class="input-field"
        />
        <input
          type="text"
          name="title"
          formControlName="title"
          required
          placeholder="Betreff *"
          class="input-field"
          [ngClass]="{
            'alert-input':
              this.contactFrm.controls.title.invalid &&
              (this.contactFrm.controls.title.dirty ||
                this.contactFrm.controls.title.touched)
          }"
        />
        <textarea
          name="msg"
          formControlName="msg"
          cols="30"
          rows="10"
          placeholder="Kommentar *"
          required
          class="textarea-field"
          [ngClass]="{
            'alert-input':
              this.contactFrm.controls.msg.invalid &&
              (this.contactFrm.controls.msg.dirty ||
                this.contactFrm.controls.msg.touched)
          }"
        ></textarea>
        <small>Die mit einem * markierten Felder sind Pflichtfelder.</small>
        <button
          type="submit"
          name="btnSubmit"
          class="plainBtn"
          [disabled]="!contactFrm.valid"
          [class.disabled_btn]="!contactFrm.valid"
        >
          Senden
          <div></div>
        </button>
        <p class="msgEleP" id="msgEle">{{ msg }}</p>
      </form>
    </article>
  </section>
</main>
