//colors
$clr-white: #ffffff;
$clr-orange: #f06a15;
$clr-orange-darker-1: #ae4d0f;
$clr-gray: #ebebeb;
$clr-gray-lighter-1: #f5f5f8;
$clr-gray-lighter-2: #dadae5;
$clr-gray-darker-1: #494949;
$clr-gray-darker-2: #353535;
$clr-black: #1a1a1a;
