.main-el-container {
  border-radius: 0px;
  border: 1px solid #555;
  box-shadow: 0px 0px transparent;
}
.basin-canvas-con {
  height: 460px;
}
.slides {
  height: 90px;
}
.orange-line-part {
  background-color: #555;
  height: 1px;
}
