<div class="nav-div-scroll-con">
  <a
    class="section-nav--link link--prev"
    title="Hochscrollen"
    (click)="scrollUpParent()"
    ><div></div
  ></a>
  <a
    scrollto="0"
    (click)="scrollToFunParent(0)"
    class="section-nav--link link--start"
    [class.is-active]="scrollIndex === 0"
    title="Header"
    ><div></div
  ></a>
  <!--<a
        href="#section-1"
        title="Abschnitt 1"
        scrollto="1"
        class="section-nav--link link--link"
        ><div></div
      ></a>-->
  <a
    title="Abschnitt 2"
    scrollto="2"
    (click)="scrollToFunParent(2)"
    [class.is-active]="scrollIndex === 2"
    class="section-nav--link link--link"
    ><div></div
  ></a>
  <a
    title="Abschnitt 3"
    scrollto="3"
    (click)="scrollToFunParent(3)"
    [class.is-active]="scrollIndex === 3"
    class="section-nav--link link--link"
    ><div></div
  ></a>
  <a
    title="Abschnitt 4"
    scrollto="4"
    (click)="scrollToFunParent(4)"
    [class.is-active]="scrollIndex === 4"
    class="section-nav--link link--link"
    ><div></div
  ></a>
  <a
    scrollto="5"
    (click)="scrollToFunParent(5)"
    [class.is-active]="scrollIndex === 5"
    class="section-nav--link link--link"
    title="Fusszeile"
    ><div></div
  ></a>
  <a
    class="section-nav--link link--next"
    title="Runterscrollen"
    (click)="scrollDownParent()"
    ><div></div
  ></a>
</div>
