<div class="cookie-container" [class.hide]="isHide" id="cookie-container">
  <p>
    We use cookies on our website to give you the best experience on our site
    and show you relevant ads. To find out more read our
    <a href="#">Privacy policy</a> and <a href="#">Cookie policy</a>
  </p>
  <div class="cookie-cb-container">
    <label for="cookie_cb_ga"
      >Analytically
      <input
        type="checkbox"
        id="cookie_cb_ga"
        [checked]="isCb_ga"
        (change)="isCb_ga = !isCb_ga"
    /></label>
    <label for="cookie_cb_al"
      >Advertising
      <input
        type="checkbox"
        id="cookie_cb_al"
        [checked]="isCb_al"
        (change)="isCb_al = !isCb_al"
    /></label>
    <label for="cookie_cb_tr"
      >Necessary
      <input
        type="checkbox"
        id="cookie_cb_tr"
        [checked]="isCb_tr"
        [disabled]="true"
        (change)="isCb_tr = !isCb_tr"
    /></label>
  </div>
  <button id="cookie-btn" class="cookie-btn" (click)="setApprovedCookies()">
    Okay
  </button>
</div>
