.item-info {
  margin-bottom: 30px;
}

.item-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}

.item-container{
  overflow: visible;

  &.hide-configuration-item {
    overflow: hidden;
    height: 0;
  }

}
