<main>
  <h1 class="title">Impressum</h1>
  <section class="info-container">
    <p>
      Emotion Warenhandels GmbH<br /><br /><br />

      Bordeaux Str. 3<br />
      28309 Bremen<br />
      Deutschland<br />
      <br />
      Telefon: 0421 2469510<br />
      <br />
      Fax: 0421 24695120<br />
      <br />
      E-Mail: info@emotion-24.de<br />
      <br />
      Geschäftsführer:<br />
      Dominik Entelmann<br />
      Bijan Salehi<br />
      <br />
      Handelsregister: Amtsgericht Bremen, HRB 24827HB<br />
      <br />
      Umsatzsteuer-Identifikationsnummer: DE 260254947<br />
      <br /><br />
      Verantwortlich gemäß § 55 RStV:<br />
      Dominik Entelmann<br />
      Bordeaux Str. 3<br />
      28309 Bremen<br />
      <br />
      Die Europäische Kommission stellt eine Plattform zur
      Online-Streitbeilegung (OS) bereit, die Sie hier finden
      <a
        href="https://ec.europa.eu/consumers/odr/"
        rel="nofollow"
        target="_blank"
        >https://ec.europa.eu/consumers/odr/</a
      >.<br />
      Wir sind bereit, an einem außergerichtlichen Schlichtungsverfahren vor
      einer Verbraucherschlichtungsstelle teilzunehmen.<br />
      Zuständig ist die Allgemeine Verbraucherschlichtungsstelle des Zentrums
      für Schlichtung e.V., Straßburger Straße 8, 77694 Kehl am Rhein,
      <a
        href="http://www.verbraucher-schlichter.de"
        rel="nofollow"
        target="_blank"
        >www.verbraucher-schlichter.de</a
      ><br />
      <br />
      Verpackungsverordnung<br />
      Zentek-Vertrags Nr.: 03051<br />
      Registrierungs Nr.: DE4956329119597-V<br />
      <br />
      Elektroschrottverordnung<br />
      WEEE-Reg.-Nr. DE 26323008<br />
    </p>
  </section>
</main>
