/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
}

img {
  width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}
